<!DOCTYPE html>
<title>
    Social Client  
</title>

<h3>Add new person</h3>
<form method="POST" action="/person/add">  

    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="submit" value="Submit">

</form>


<h3>Add new location</h3>
<form method="POST" action="/location/add">  

    <input type="text" name="city" placeholder="City">
    <input type="text" name="country" placeholder="Country">
    <input type="submit" value="Submit">

</form>

<h3>Connect friends</h3>
<form method="POST" action="/friends/connect">  

    <input type="text" name="name1" placeholder="Name">
    <input type="text" name="name2" placeholder="Name">
    <input type="date" name="date">
    <input type="submit" value="Submit">

</form>

<h3>Add Birthplace</h3>
<form method="POST" action="/person/born/add">  

    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="country" placeholder="country">
    <input type="text" name="year" placeholder="year">
    <input type="submit" value="Submit">

</form>

<h3>Add living Place</h3>
<form method="POST" action="/person/live/add">  

    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="country" placeholder="country">
    <input type="date" name="since" placeholder="since">
    <input type="submit" value="Submit">

</form>

<h3>People</h3>
<ul>
<% personsList.forEach(function(person){ %>

    <li><a href="/person/<%= person.id %>"><%= person.lastname %> <%= person.firstname%></a></li>

<% }) %>
</ul>

<h3>Locations</h3>
<ul>
<% locationList.forEach(function(location){ %>

    <li><%= location.city %>, <%= location.country %></li>

<% }) %>
</ul>